@import '../../styles/shared-styles';

.header {
  border-bottom: 1px solid $border;
  padding: to-rem(20px) to-rem(20px);

  h2 {
    color: $grey-title;
    font-size: 32px;
  }

  span {
    margin-top: 5px;
  }
}

.hamburger {
  svg {
    margin-top: 20px;

    @include tablet {
      display: none;
    }

    @include medium-screen {
      display: none;
    }
  }
}
