@import '../../styles/shared-styles';

.main-layout {
    margin-left: 11.5rem;
	min-height: calc(100vh - 8rem);
	
	@include phone{
	  margin-left: 0;
	  width: 100%;
	}
}
.mobile {
	@include phone {
		display: block;
		transition: 0.3s ease-out;
	}
	display: none;
}
.tabletAndAbove {
	@include phone {
		display: none;
	}
	display: block;
}